html, body { 
    margin: 0;
    padding: 0;
}
header.navbar {
    width: 100vw !important;
    left: 0;
    right: 0;
    position: relative;
    background-color: #FFFFFF;
}

.container {
    display: flex;
    width: 100%;
    height: 110px;
    position: relative;
    padding-top: 50px;
    padding-left: 20px;
    padding-bottom: 0px;
}
.logo-container {
    display: flex;
    align-items: left;
    padding-left: 10px;
}
.logo-almased {
    position: absolute;
    padding-bottom: 0px;
}
.logo-trekendesh {
    position: absolute;
    padding-top: 30px;
    padding-bottom: 0px;
}
.logo-R {
    position: absolute;
    padding-left: 139px;
    padding-bottom: 0px;
}
.button-container {
    padding-left: 200px;
    padding-top: 43px;
}
.button {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    border-radius: 20px;
    letter-spacing: 0.8px;
    align-items: center;
    border: 1px solid #55AB25;
    background-color: #55AB25;
    padding-top: 7px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    transition: background-color 0.4s ease, border 0.4s ease, color 0.4s ease;
    transition: 0.4s ease;
}
.button:hover {
    cursor:pointer;
    background-color: #54ab25b4;
    border: 1px solid transparent;
    transform: scale(1.05);
}
.sections {
    display: flex;
    position: relative;
}
.about-container, .science-container, .results-container, .goals-container, .usage-container, .learn-container {
    padding-left: 63px;
    padding-top: 41.75px;
}
.shop, .about, .science, .results, .goals, .usage, .learn {
    position: relative;
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans Nova', 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    line-height: 100%;
    letter-spacing: 0.65px;
}
.shop::after, .about::after, .science::after, .results::after, .goals::after, .usage::after, .learn::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #55AB25;
    left: 50%;
    bottom: -2px;
    transition: width 0.4s ease;
    transform: translateX(-50%);
}
.shop:hover, .about:hover, .science:hover, .results:hover, .goals:hover, .usage:hover, .learn:hover {
    cursor: pointer;
    color: #55AB25;
}
.shop:hover::after, .about:hover::after, .science:hover::after, .results:hover::after, .goals:hover::after, .usage:hover::after, .learn:hover::after {
    width: 100%;
    left: 50%;
}
.icons {
    display: flex;
    position: relative;
    align-items: center;
    gap: 10px;
}
.search-container, .user-container, .cart-container {
    position: relative;
    padding-left: 13px;
    padding-top: 28px;
}
.search-container {
    padding-left: 63px;
}
.search-icon, .user-icon, .cart-icon {
    transition: transform 0.3s ease, filter 0.3s ease;
}
.search-icon:hover, .user-icon:hover, .cart-icon:hover {
    cursor: pointer;
    transform: scale(1.17);
    filter: brightness(0.8);
}
.hamburger {
    display: none;
    font-size: 26px;
    cursor: pointer;
    padding: 20px;
    width: 40px;
    height: 40px;
    line-height: 1;
    text-align: center;
    user-select: none;
}
.hero-banner {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.hero-image img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: block;
    filter: brightness(0.6);
    overflow: hidden;
    position: relative;
}
.hero-text {
    position: absolute;
    top: 50%;
    left: 15%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: left;
}
.natural, .super, .protein {
    font-weight: 520;
    font-size: 55px;
    line-height: 0.3;
}
.small-text {
    font-weight: 50;
    font-size: 30px;
    line-height: 0.3;
}

.hero-button-container {
    position: static;
    transform: none;
    top: 70%;
    left: 15%;
    margin-top: 80px;
    text-align: left; 
}
.hero-button {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    border-radius: 9px;
    letter-spacing: 0.8px;
    align-items: center;
    border: 1px solid #FFEE00;
    background-color: #FFEE00;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    transition: background-color 0.4s ease, border 0.4s ease, color 0.4s ease;
    transition: 0.4s ease;
}
.hero-button:hover {
    cursor: pointer;
    background-color: #FFEE00B4;
    border: 1px solid transparent;
    transform: scale(1.05);
}
@media only screen and (min-width: 751px) {
    header.navbar {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    .button-container {
        display: block;
    }
    .shop-container-mobile {
        display: none;
    }
}

@media (max-width: 750px) {
    header.navbar {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .hamburger {
        display: block;
        font-size: 26px;
        cursor: pointer;
        padding: 20px;
        z-index: 2000;
    }
    .button-container {
        display: none;
    }
    .shop-container-mobile {
        display: block;
    }
    .navbar .container {
        justify-content: center;
    }
    .nav-wrapper {
        position: fixed;
        top: 0;
        left: -100%;
        width: 250px;
        height: 100vh;
        background-color: white;
        box-shadow: 4px 0 8px rgba(0,0,0,0.1);
        padding-left: 48px;
        padding-top: 85px;
        display: flex;
        flex-direction: column;
        transition: left 0.3s ease-in-out;
        z-index: 1500;
  }

    .nav-wrapper.active {
        left: 0;
    }

    .sections {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
  }
    .icons {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 0;
        position: relative;
        z-index: 1100;
    }
    .search-container, .user-container, .cart-container {
        padding-left: 0;
        padding-top: 0;
        position: static;
    }
    .cart-container {
        padding-right: 30px;
    }
    .logo-container {
        align-items: center;
        flex-grow: 1;
        padding-left: 0;
        justify-content: center;
    }
    .logo-almased,
    .logo-trekendesh,
    .logo-R {
        position: absolute;
        padding-bottom: 0;
    }
    .logo-R {
        padding-bottom: 68px;
        margin-left: 4px;
    }
    .container {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;
        height: auto;
    }
    .shop-container-mobile, .about-container, .science-container, .results-container,
    .goals-container, .usage-container, .learn-container {
        padding-left: 0;
        padding-top: 10px;
    }
    .hero-text {
        top: 25%;
        left: 50%;
        width: 90vw;
        text-align: center;
        transform: translate(-50%, -50%);
    }
    .natural, .super, .protein {
        font-size: 50px;
        line-height: 0.4;
    }
    .small-text {
        font-size: 20px;
        line-height: 0.4;
    }
    .hero-button-container {
        position: static;
        transform: none;
        top: 70%;
        left: 50%;
        margin-top: 80px;
        text-align: center; 
    }
}

